body {
font-family:0 next,avenir,helvetica neue,helvetica,ubuntu,roboto,noto,segoe ui,arial,sans-serif;
line-height:1.15;
max-width:30em;
padding:4rem;
}

h1 {
font-size:2.25rem;
}

aside {
letter-spacing:.05em;
text-transform:uppercase;
font-size:.875rem;
color:#777;
}

code {
-moz-hyphens:none;
-webkit-hyphens:none;
-o-hyphens:none;
-ms-hyphens:none;
hyphens:none;
}

pre {
background:#f5f7f9;
margin-bottom:20px;
vertical-align:text-bottom;
white-space:0;
word-wrap:break-word;
padding:1em;
}

a {
text-decoration:none;
}

img {
width:100%;
text-align:center;
}

figcaption {
color:#777;
font-style:italic;
text-align:center;
}

figure {
display:block;
-webkit-margin-before:1em;
-webkit-margin-after:1em;
-webkit-margin-start:0;
-webkit-margin-end:0;
}

ol,ul,li {
line-height:1.3;
}

p {
max-width:30em;
display:block;
-webkit-margin-before:1em;
-webkit-margin-after:1em;
-webkit-margin-start:0;
-webkit-margin-end:0;
line-height:1.5;
 font-size: 1.25rem;
}

@media all and (max-width: 30em) {
body {
padding:1rem;
}
}
