<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{ .Title }}</title>
	<!-- Search Engine -->
	<meta name="description" content="{{ .Description }}">
	<!-- Schema.org for Google -->
	<meta itemprop="name" content="{{ .Title }}">
	<meta itemprop="description" content="{{ .Description }}">
	<!-- Twitter -->
	<meta name="twitter:card" content="summary">
	<meta name="twitter:title" content="{{ .Title }}">
	<meta name="twitter:description" content="{{ .Description }}">
	{{ if $.Site.Params.twitter }}
	<meta name="twitter:site" content="@{{ $.Site.Params.twitter }}">
	<meta name="twitter:creator" content="@{{ $.Site.Params.twitter }}">
	{{ end }}
	<!-- Open Graph general (Facebook, Pinterest & Google+) -->
	<meta name="og:title" content="{{ .Title }}">
	<meta name="og:description" content="{{ .Description }}">
	<meta name="og:type" content="website">
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<script src="/js/caption.js"></script>
</head>

<body>

<header>
	<a href="/">/posts</a>
{{ range $.Site.Params.navigation }}
{{ with $.Site.GetPage "page" . }}
&nbsp;&nbsp;·&nbsp;<a href="{{ lower .Permalink }}" style="color:black;">/{{ .Title }}</a>
{{ end }}
{{ end }}

{{ if .Draft }}
DRAFT
{{ end }}
</header>
