<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- COMMON TAGS -->
	<title>{{ .Title }}</title>
	<!-- Search Engine -->
	<meta name="description" content="{{ .Description }}">
	<meta name="image" content="{{ $.Param "image" }}">
	<!-- Schema.org for Google -->
	<meta itemprop="name" content="{{ .Title }}">
	<meta itemprop="description" content="{{ .Description }}">
	<meta itemprop="image" content="{{ $.Param "image" }}">
	<!-- Twitter -->
	<meta name="twitter:card" content="summary">
	<meta name="twitter:title" content="{{ .Title }}">
	<meta name="twitter:description" content="{{ .Description }}">
	<meta name="twitter:site" content="@{{ $.Site.Params.twitter }}">
	<meta name="twitter:creator" content="@{{ $.Site.Params.twitter }}">
	<meta name="twitter:image:src" content="{{ $.Param "image" }}">
	<!-- Twitter - Article -->
	<!-- Open Graph general (Facebook, Pinterest & Google+) -->
	<meta name="og:title" content="{{ .Title }}">
	<meta name="og:description" content="{{ .Description }}">
	{{ if $.Param "image" }}<meta name="og:image" content="{{ .Site.BaseURL}}{{ $.Param "image" }}">{{ end }}
	<meta name="og:url" content="{{ .Permalink }}">
	<meta name="og:site_name" content="{{ .Title }}">
	<meta name="og:type" content="article">
	<!-- Open Graph - Article -->
	<meta name="article:author" content="{{ $.Site.Params.twitter }}">
	<meta name="article:tag" content="{{ range .Params.tags }}{{.}} {{end}}">
	<link rel="stylesheet" type="text/css" href="/css/style{{ $.Site.Params.style }}.css">
	<script src="/js/caption.js"></script>
</head>
<body>
{{ if $.Site.Params.analytics }}
<img src="https://analytics.schollz.com/1.png?page={{ .Permalink }}" width=1px height=1px style="float:right;">
{{ end }}
<header >
	<a href="/" style="float: left;color:#777;"><strong>{{ $.Site.Title }}</strong>
	</a>
	<a href="/index.xml" style="color:#777;float: left;"><strong>
		&nbsp;
	<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-rss"><path d="M4 11a9 9 0 0 1 9 9"></path><path d="M4 4a16 16 0 0 1 16 16"></path><circle cx="5" cy="19" r="1"></circle></svg>
</strong></a>
{{ range $i, $e:= $.Site.Params.navigation }}{{ if eq $i 0}}{{else}}&nbsp;&nbsp;·&nbsp;&nbsp;{{end}}{{ with $.Site.GetPage "page" . }}<a href="{{ lower .Permalink }}" style="color:#777;"><strong>{{ title .Title }}</strong></a>{{ end }}{{ end }}
{{ if .Draft }}
DRAFT
{{ end }}
</header>
