<div class="sidebar">
    <div class="readme">
        <div class="wikitext">
            
            <p>
                <a href="/">Full index of entries</a>
            </p>
            <p>
                Subjects: <a href="/tags/science">science</a>, <a href="/tags/painting">painting</a>, <a href="/tags/coding">coding</a>,
                <a href="/tags/food">food</a>, <a href="/tags/thoughts">thoughts</a>
            </p>
            <p>Github:
                <a href="https://github.com/schollz/">@schollz</a>
            </p>
            <p>Twitter:
                <a href="https://twitter.com/yakczar/">@yakczar</a>
            </p>
            <p align="center">* * *</p>
            <div class="sidesearch" style="font-size: small">
                <form onsubmit="location.href='/search/?s=' + document.getElementById('myInput').value; return false;">
                    Search: <input type="text" id="myInput"  size=15 />
                </form>
            </div>
            
        </div>
    </div>
</div>